
body{
    background: #ccc9c4;
}

/* Index App */
.MuiAppBar-colorPrimary{
    background-color: #1B263B!important;
    position: relative !important;
    margin-bottom: 20px;
}

/* card */
.Card-info{
    background-color: #FFFFFF !important;
}

.Card-info-playlist{
    background-color: #E0E1DD !important;
    padding: 0px;
}

.Card-content-playlist{
    color:  #FFFCF2 !important;
    background-color: #415A77 !important;
    padding: 15px;
}



/* user info */
.avatar{
    margin:15px;
    width: 80px !important;
    height: 80px !important;
}

.MuiCardContent-root-userinfo{
    padding-top: 0px !important;

}

/* playlist */

.img-playlist{
    height: 250px;
}
.icon-play-playlist{
    float: right !important;
}




.img-playlist-modal{
    width: 80px;
}

.icon-play-modal{
    align-items: center !important;
    font-size: 60px !important;
}


.vertical-center {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }

  .container-list {
    position: relative !important;
  }